@page
@using SportsStore_Spr2026.Models
@model SportsStore_Spr2026.Pages.Customer.Home.IndexModel

<h1>Products</h1>

<div class="row">
    
    @foreach (var product in Model.ProductList)
    {
        <div class="col-md-4 mb-1">
            <div class="card">
                <img src="~/images/@product.image" class="card-img-top" style="height:200px" alt="@product.Name" />
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    
                    
                    
                    <p class="card-text">
                        
                        
                       @product.Description
                       Price: $@product.Price
                    
                    </p>
                    
                    <a asp-page="/Customer/Home/ProductDetailsForCustomer" asp-route-id="@product.ProductId" class="btn btn-primary">Product Details</a>

                    
                    

                </div>
            </div>
        </div>
    }

</div>
