@page
@model SportsStore_Spr2026.Pages.Customer.Home.ProductDetailsForCustomerModel
@{
}





<div class="row justify-content-center">
    
    
    
    <div class="card col-md-8 p-3">
        
        <div class="text-center">
            <img class="card-img-top" src="~/images/@Model.product." style="Width:400px"/>

            



        </div>
        
        
        <H1 class="card-title text-center">@Model.product.Name</H1>
        
        <p class="card-text text-center">
            
            @Model.product.Description
            
        </p>
        
        <p class="card-text text-center">
            
            Price: $@Model.product.Price
        </p>
        


        <div class="card-footer">
            <form method="post">
                <input type="hidden" name="ProductId" value="@Model.product.ProductId"/>
                <input type="hidden" name="cartID" value="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value" />

                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>

            


        </div>
        


    </div>
    
    
    
    
    
    
    

</div>